config BOARD_AKDK_BT1
    bool "AKDK BT1"
    default y

config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    default y
    depends on BOARD_AKDK_BT1

# 追加：board側でDCDCを有効にしたいなら、素直にこのシンボルを既定値へ
config SOC_DCDC_NRF52X
    default y if BOARD_ENABLE_DCDC
