#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 800
#define ZMK_POINTING_DEFAULT_SCRL_VAL 120
#include <dt-bindings/zmk/pointing.h>

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#define SCROLL_FAST 5
#define SCROLL_NORMAL 6
#define SCROLL_SLOW 7

&mmv {
    delay-ms = <0>;
    trigger-period-ms = <10>;
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <1>;
};

&msc {
    delay-ms = <0>;
    trigger-period-ms = <10>;
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
        zip_hwheel_scaler: zip_hwheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };
        
        zip_wheel_scaler_normal: zip_wheel_scaler_normal {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
        zip_hwheel_scaler_normal: zip_hwheel_scaler_normal {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };
        
        zip_wheel_scaler_slow: zip_wheel_scaler_slow {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
        zip_hwheel_scaler_slow: zip_hwheel_scaler_slow {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_HWHEEL>;
            track-remainders;
        };
    };

    behaviors {
        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <10>;
        };
    };
    
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings =<
                &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT &kp BSLH &kp DEL
				&kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp SQT &kp RET &none &none
				&kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp SLASH &none &none &none &none
				&kp ESC &kp TAB &kp LSHFT &kp LCTRL &kp LALT &kp SPACE &kp SPACE &kp RALT &kp RCTRL &kp RSHFT &kp UP &kp LEFT &kp DOWN &kp RIGHT
				&mo 1 &mo 2 &mo SCROLL_NORMAL &kp SPACE &kp SPACE &mo SCROLL_NORMAL &mo 3 &mo 4 &none
				&mkp LCLK &mkp RCLK &none &none
            >;
        };

        layer_1 {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none
				&none &none &none &none
            >;
        };

        layer_2 {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none
				&none &none &none &none
            >;
        };

        layer_3 {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none
				&none &none &none &none
            >;
        };
        
        layer_4 {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none
				&none &none &none &none
            >;
        };

        scroll_fast_layer {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&mo SCROLL_SLOW &mo SCROLL_NORMAL &trans &none &none &trans &mo SCROLL_NORMAL &mo SCROLL_SLOW &none
				&none &none &none &none
            >;
        };

        scroll_normal_layer {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&mo SCROLL_SLOW &mo SCROLL_FAST &trans &none &none &trans &mo SCROLL_FAST &mo SCROLL_SLOW &none
				&none &none &none &none
            >;
        };

        scroll_slow_layer {
            bindings =<
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&none &none &none &none &none &none &none &none &none &none &none &none &none &none
				&mo SCROLL_NORMAL &mo SCROLL_FAST &trans &none &none &trans &mo SCROLL_FAST &mo SCROLL_NORMAL &none
				&none &none &none &none
            >;
        };

    };
};
